@tmd-gray-lightest: #FFFFFF;
@tmd-gray-lighter: #EFEFEF;
@tmd-gray-light: #D6D6D6;
@tmd-gray-lightish: #C5C8C6;
@tmd-gray-base: #969896;
@tmd-gray-darkish: #8E908C;
@tmd-gray-dark: #4D4D46;
@tmd-gray-darker: #282A2E;
@tmd-gray-darkest: #1D1F21;

@tmd-blue-base: #4271AE;
@tmd-blue-light: #81A2BE;

@tmd-red-base: #C82829;
@tmd-red-light: #CC6666;

@tmd-green-base: #718C00;
@tmd-green-light: #B5BD68;

@tmd-yellow-base:#EAB700;
@tmd-yellow-light: #F0C674;

@tmd-purple-base: #8959A8;
@tmd-purple-light: #B294BB;

@tmd-orange-base: #F5871F;
@tmd-orange-light: #DE935F;

@tmd-aqua-base: #3E999F;
@tmd-aqua-light: #8ABEB7;


@tmd-gray-lightest: #FFFFFF;
@tmd-gray-lighter: #F6F6F6;
@tmd-gray-light: #D6D6D6;
@tmd-gray-lightish: #C5C8C6;
@tmd-gray-base: #969896;
@tmd-gray-darkish: #8E908C;
@tmd-gray-dark: #4D4D46;
@tmd-gray-dark2: #373b41;
@tmd-gray-darker: #282A2E;
@tmd-gray-darkest: #1D1F21;

@tmd-blue-base: #4271AE;
@tmd-blue-light: #81A2BE;

@tmd-red-base: #C82829;
@tmd-red-light: #CC6666;

@tmd-green-base: #718C00;
@tmd-green-light: #B5BD68;

@tmd-yellow-base:#EAB700;
@tmd-yellow-light: #F0C674;

@tmd-purple-base: #8959A8;
@tmd-purple-light: #B294BB;

@tmd-orange-base: #F5871F;
@tmd-orange-light: #DE935F;

@tmd-aqua-base: #3E999F;
@tmd-aqua-light: #8ABEB7;
