@import 'colors';
@import 'theme-scaffolding';

@decklist-gray: @tmd-gray-lighter;
@decklist-accent: @tmd-red-base;

@decklist-gray-dark: @tmd-gray-darker;
@decklist-accent-dark: @tmd-red-light;

.tmd-decklist {
    padding: 0;
    background-color: @decklist-gray;
    margin-bottom: 10px;
    box-shadow: @card-box-shadow;
    .tmd-decklist-body {
        padding: 20px;
        column-count: 3;
        @media @mobile {
            column-count: 1;
        }
        h3 {
            color: @decklist-accent;
            :nth-child(1) {
                margin-top: 0;
            }
        }
    }
    .tmd-decklist-heading {
        margin: 0;
        border-bottom: 1px solid @tmd-gray-lightish;
        background-color: @tmd-gray-light;
        h1::after {
            content: '';
            position: absolute;
            right: 0;
            border-bottom: 60px solid @tmd-gray-light;
            border-left: 60px solid transparent;
        }
        h1 {
            position: relative;
            margin: 0;
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 60px;
            padding-left: 20px;
            height: 60px;
            line-height: 55px;
            font-size: 32px;
            background-color: @decklist-accent;
            color: @tmd-gray-lightest;
            border: none;
        }
        h2 {
            margin: 0;
            position: relative;
            display: inline-block;
            height: 60px;
            line-height: 60px;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 20px;
            padding-left: 10px;
            background-color: @tmd-gray-light;
            color: @decklist-accent;
            font-weight: 400;
            font-size: 28px;
            border: none;
        }
    }

}

body.skin-dark {
    .tmd-decklist {
        background-color: @decklist-gray-dark;
        box-shadow: @card-box-shadow-dark;
        .tmd-decklist-heading {
            border-bottom-color: @tmd-gray-darker;
            background-color: @tmd-gray-dark2;
        }
        h1 {
            color: @tmd-gray-light;
            background-color: @decklist-accent-dark;
        }
        h1::after {
            border-bottom-color: @tmd-gray-dark2;
        }

        h2 {
            background-color: @tmd-gray-dark2;
            color: @decklist-accent-dark;
        }

        .tmd-decklist-body {
            h3 {
                color: @decklist-accent-dark;
            }
        }
    }
}
