@import 'colors';
@import 'theme-scaffolding';

@news-item-height: 192px;
@news-thumbnail-size: @news-item-height;
@news-footer-height: 45px;

.news-unset {
    border-radius: unset;
    border: none;
    height: unset;
    width: unset;
    max-height: unset;
    max-width: unset;
    padding: 0;
    margin: 0;
};

body.skin-dark {
    .fte-news {
        .fte-theme-tmd {
            .section {
                .primaryContent {
                    background-color: @card-bg-color-dark;
                    box-shadow: @card-box-shadow-dark;
                }
            }
            .sectionFooter {
                background-color: @lv-header-alt-bg-color-dark;
            }
        }
    }
}

.fte-news {
    .fte-theme-tmd {
        .section {
            .news-unset();
            .primaryContent {
                .news-unset();
                position: relative;
                height: @news-item-height;
                margin: 20px 0;
                background-color: @card-bg-color;
                box-shadow: @card-box-shadow;
            }
            .thumbnail {
                .news-unset();
                position: absolute;
                left: 0;
                float: none;
                top: 0;
                bottom: 0;
                width: @news-thumbnail-size;
                img, .user-icon {
                    width: 100%;
                    height: 100%;
                    font-size: 64pt;
                    border-radius: 0;
                }
                .status {
                    display: none;
                }
            }
            .messageContent {
                .news-unset();
                position: absolute;
                left: @news-thumbnail-size;
                padding-left: 10px;
                top: 0;
                right: 0;
                bottom: @news-footer-height;
                font-size: 9pt;
                overflow: hidden;
                .subHeading {
                    .news-unset();
                    font-size: 14pt;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .comments {
                    float:right;
                    margin-right: 5px;
                }
                p {
                    margin-bottom: 10px;
                }
            }
            .sectionFooter {
                .news-unset();
                position: absolute;
                padding-left: 10px;
                left: @news-thumbnail-size;
                right: 0;
                height: @news-footer-height;
                bottom: 0;
                background-color: @lv-header-alt-bg-color;
                line-height: 1.2;
                padding-top: 5px;
                .postedBy {
                    font-size: 12pt
                }
                .postInfo {
                    font-size: 10pt;
                }
                .btn {
                    position: absolute;
                    right: 5px;
                    bottom: 7px;
                }
            }
        }
    }
}




.fte-news .fte-theme-tmd .section {
    @media @mobile {
        .thumbnail {
            bottom: @news-footer-height;
            width: @news-thumbnail-size - @news-footer-height;

        }
        .sectionFooter {
            left: 0;
        }

        .messageContent {
            left: @news-thumbnail-size - @news-footer-height;
            font-size: 12px;
        }

        .views {
            display: none;
        }

    }
}
