@import 'colors';

@mobile: ~"(max-width: 991px)";

@material-primary: @tmd-blue-base;
@material-danger: @tmd-red-base;
@material-success: @tmd-green-base;
@material-info: @tmd-yellow-base;
@material-warning: @tmd-aqua-base;


//default theme
@header-bg-color: @tmd-gray-darkest;
@header-bg-color: @tmd-gray-dark;

@body-color: @tmd-gray-dark;

@body-bg-color: @tmd-gray-lighter;
@card-bg-color: @tmd-gray-lightest;
@card-box-shadow: 0 2px 5px @tmd-gray-base;
@lv-header-alt-bg-color: @tmd-gray-light;
@breadcrumb-bg-color: transparent;
@breadcrumb-border: 1px solid @tmd-gray-lightish;
@breadcrumb-active-color: @tmd-gray-darker;
@breadcrumb-active-color: @tmd-gray-dark;


@anchor-color: @tmd-blue-base;
@lv-item-border: 1px solid @tmd-gray-light;
@post-content-bg-color: @tmd-gray-lightest;
@topic-title-color: @body-color;
@nav-pills-active-color: @body-color;
@list-group-item-bg-color: @tmd-gray-lightest;
@account-hr-border: 1px solid @tmd-gray-lightest;
@input-border-bottom: @tmd-gray-lightish;
@composer-bg-color: @tmd-gray-lightest;
@composer-navbar-bg-color: @tmd-blue-base;
@composer-preview-bg-color: @tmd-gray-lighter;
@chat-main-bg-color: @tmd-gray-lighter;
@chat-content-bg-color: @tmd-gray-lightest;


@modal-text-color: @tmd-gray-darkest;
@modal-text-color: @tmd-gray-dark;


@modal-bg-color: @tmd-gray-lightest;
@border-color: @tmd-gray-base;
@chat-active-bg-color: @tmd-gray-lightest;
@chat-unread-bg-color: @tmd-aqua-light;
@chat-footer-bg-color: @tmd-gray-lightest;
@chat-message-bg-color: @tmd-blue-base;
@chat-message-color: @tmd-gray-lightest;
@chat-message-right-bg-color: @tmd-gray-lighter;
@chat-message-right-color: @body-color;
@chat-list-border: @tmd-gray-lighter;
@dropdown-bg-color: @tmd-gray-lightest;
@dropdown-color: @tmd-gray-dark;

@action-items-color: @tmd-gray-dark;
@fg-line-color: @material-primary;
@btn-default-bg-color: @tmd-gray-lightest;
@tag-container-bg-color: @tmd-gray-lightest;
@placeholder-color: @tmd-gray-lightest;
@checkbox-check-color: @tmd-aqua-base;
@form-control-border: 1px solid @tmd-gray-light;
@sidebar-bg-color: @tmd-gray-lightest;
@post-highlight-color: @material-primary;
@notifs-unread-bg-color: @tmd-aqua-light;
@notifs-unread-color: @body-color;
@tag-container-border-color: @tmd-gray-light;




//Dark theme

@header-bg-color-dark: @tmd-gray-darkest;

@body-color-dark: @tmd-gray-lightish;

@body-bg-color-dark: @tmd-gray-darker;
@card-bg-color-dark: @tmd-gray-darkest;
@card-box-shadow-dark: 0 2px 5px #111;
@lv-header-alt-bg-color-dark: @tmd-gray-dark2;

@breadcrumb-bg-color-dark: rgba(255,255,255,0.04);
@breadcrumb-bg-color-dark: @tmd-gray-darker;
@breadcrumb-border-dark: 1px solid @tmd-gray-darkish;
@breadcrumb-active-color-dark: @tmd-gray-lightish;

@anchor-color-dark: #EF5350;
@anchor-color-dark: @tmd-red-light;

@lv-item-border-dark: 1px solid @tmd-gray-dark2;

@post-content-bg-color-dark: @tmd-gray-darkest;
@topic-title-color-dark: @body-color-dark;
@nav-pills-active-color-dark: @body-color-dark;
@list-group-item-bg-color-dark: @tmd-gray-darkest;
@account-hr-border-dark: 1px solid @tmd-gray-darkest;

@input-border-bottom-dark: 1px solid rgba(255,255,255,0.1);
@input-border-bottom-dark: 1px solid @tmd-gray-darkish;

@composer-bg-color-dark: @tmd-gray-darkest;
@composer-navbar-bg-color-dark: @composer-bg-color-dark;

@composer-preview-bg-color-dark: @tmd-gray-darker;

@chat-main-bg-color-dark: @tmd-gray-darker;
@chat-content-bg-color-dark: @tmd-blue-light;
@modal-text-color-dark: @tmd-gray-lightish;
@modal-bg-color-dark: @tmd-gray-darkest;
@border-color-dark: @tmd-gray-darkish;
@chat-active-bg-color-dark: @tmd-gray-darkest;
@chat-unread-bg-color-dark: @tmd-aqua-light;
@chat-footer-bg-color-dark: @tmd-gray-darkest;
@chat-message-bg-color-dark: @tmd-gray-darkest;
@chat-message-color-dark: @body-color-dark;
@chat-message-right-bg-color-dark: @tmd-gray-darker;
@chat-message-right-color-dark: @tmd-gray-lightish;
@chat-list-border-dark: @tmd-gray-darker;


@dropdown-bg-color-dark: @tmd-gray-darkest;
@dropdown-color-dark: @body-color-dark;
@action-items-color-dark: @tmd-gray-lightish;
@fg-line-color-dark: @body-color-dark;

@btn-default-bg-color-dark: @tmd-gray-darkest;

@tag-container-bg-color-dark: @tmd-gray-darkest;

@placeholder-color-dark: @tmd-gray-darkest;

@checkbox-check-color-dark: @tmd-red-light;
@form-control-border-dark: 1px solid @tmd-gray-dark2;

@sidebar-bg-color-dark: @tmd-gray-darkest;

@post-highlight-color-dark: @anchor-color-dark;
@notifs-unread-bg-color-dark: @body-color-dark;
@notifs-unread-color-dark: @body-bg-color-dark;
@tag-container-border-color-dark: @tmd-gray-dark2;


.material-load-bar {
    background-color: @tmd-orange-base;
}

.material-bar:nth-child(1) {
    background-color: @tmd-blue-base;
}

.material-bar:nth-child(2) {
    background-color: @tmd-green-base;
}

.material-bar:nth-child(3) {
    background-color: @tmd-red-base;
}

@font-family-sans-serif:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Merriweather", Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color: inherit;

body {
    font-family: @font-family-base;
}


[component="post/content"] p,
.composer-container p,
.composer-container textarea,
.newsText,
.widget-posts p {
    font-family: @font-family-serif;
    font-size: 16px;
    img {
        box-shadow: @card-box-shadow;
        &.emoji {
            box-shadow: none;
        }
    }
}

[component="post/content"],
.composer-container {
    h1 {
        background-color: @tmd-blue-base;
        color: @tmd-gray-lighter;
        padding-left: 10px;
        position: relative;
        height: 60px;
        line-height: 60px;

    }
    h1::after {
        content: '';
        position: absolute;
        right: 0;
        border-bottom: 60px solid @card-bg-color;
        border-left: 60px solid transparent;
    }

    h2 {
        border-bottom: @lv-item-border;
        color: @tmd-blue-base;
        padding-bottom: 5px;
        font-weight: 600;
    }
    h3, h4, h5 {
        color: @tmd-blue-base;
        font-weight: 600;
    }
}

body.skin-dark [component="post/content"],
body.skin-dark .composer-container {
    h1::after {
        border-bottom-color: @card-bg-color-dark;
    }
    h2, h3, h4, h5 {
        color: @tmd-blue-light;
    }
}


blockquote {
    font-style: italic;
    color: @tmd-gray-dark;
}


body.skin-dark blockquote {
    color: @tmd-gray-base;
    border-left-color: @tmd-gray-base;
}

.card .lv-body [component="topic"] [data-index="0"] {
    background-color: @card-bg-color;
    box-shadow: @card-box-shadow;
    .poster-avatar {
        display: none;
    }
    .post-content {
        border: none !important;
        margin-right: 60px;
        margin-left: 60px;
        @media @mobile {
            margin-right: 10px;
            margin-left: 10px;
        }
        &::before {
            display: none;
        }
    }
}
body.skin-dark {
    .card .lv-body [component="topic"] [data-index="0"] {
        background-color: @card-bg-color-dark;
        box-shadow: @card-box-shadow-dark;
    }
}

/*
.recent-replies .widget-topics {
    background-color: @tmd-gray-lightest;
    margin: 0;
    min-height: 50px;
    border-bottom: 1px solid @tmd-gray-lighter;
    > img, > a div {
        height: 50px;
        width: 50px;
    }
}
*/





.invisible-panel {
    .panel-title {
        width: 100%;
        border-bottom: 1px solid @border-color;
        margin-bottom: 15px;
        padding-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
    }
    margin-bottom: 20px;
}

.recent-card {
    box-shadow: @card-box-shadow;
}

body.skin-dark {
    .recent-card {
        box-shadow: @card-box-shadow-dark;
    }
}

.header-menu > li {
    line-height: 2;
}




.featuredTopicsExCards .post-count::before {
    content: "\f075";
    font: normal normal normal 14px/1 FontAwesome;
}

.post-edit {
    margin-top: -10px;
}

[component="post/downvote"] {
    display: none;
}

[component="post/content"] {
    padding-top: 5px;
}

.fte-news {
    padding-bottom: 40px;
}

.header-menu .fa {
    width: 0;
    &::before {
        content: "";
    }

    &.unread-count::after {
        left: 54px;
        top: -12px;
    }
}


.fade-out {
    background-image: linear-gradient(transparent, @body-bg-color);
}
body.skin-dark {
    .fade-out {
        background-image: linear-gradient(transparent, @body-bg-color-dark);
    }
}


.category-card {
    box-shadow: @card-box-shadow;
}

.category-card:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

body.skin-dark {
    .category-card {
        box-shadow: @card-box-shadow-dark
    }
}

#sidebar {
    width: 160px;
}


.featuredTopicsExCards {
    color: @tmd-gray-lightest !important;
}

.featuredTopicsExCards a .recent-card, .categories .category-card {
    margin-bottom: 0;
}

.categories, .featuredTopicsExCards > .row {
    padding-left: 8px;
    padding-right: 8px;
}

.categories > div, .featuredTopicsExCards .category-item {
    padding: 7px;
}

.topic {
    .pagination-block {
        position: fixed;
        width: 100%;
        background-color: @body-bg-color;
        bottom: 0px;
        left: 0px;
        z-index: 100;
        transition: opacity 250ms ease-in;
        opacity: 0;
        pointer-events: none;

        > div > i {
            color: @body-color;
        }

        &.ready {
            opacity: 1;
            pointer-events: inherit;
        }

        .wrapper {
            padding: 5px 0px 5px 0px;
        }
        .progress-bar {
            background-color: @tmd-aqua-light;
            display:block;
            z-index: -1;
            position: absolute;
        }
    }
    .pagination-block-spacer {
        height: 36px;
    }
}

.topic .card .lv-header-alt {
    background-color: transparent;
    .title {
        padding-bottom: 5px;
        padding-left: 0;
        margin-left: 10px;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 1px solid @border-color;
    }
}

body.skin-dark {
    .topic .card .lv-header-alt {
        .title {
            border-bottom-color: @border-color-dark;
        }
    }
}

.card-footer {
    border-top-color: @lv-item-border;
}

body.skin-dark {
    .card-footer {
        border-top-color: @lv-item-border-dark;
    }
}

/* fix these! */
/*
.form-control:hover {
    border-color: @tmd-blue-base !important;
    border-style: solid !important;
}

.form-control:active, .form-control:focus {
    border-color: @tmd-blue-light !important;
    border-style: solid !important;
}*/

.fg-line:hover::after {
    width: 100%;
}



.lv-item {
    padding-left: 0px;
    padding-right: 0px;
}

.lv-body {
    padding-left: 25px;
    padding-right: 25px;
}


.tmd-cardname,
body.skin-dark .tmd-cardname,
body.skin-dark .tmd-cardname:visited {
    color: @tmd-purple-base;
}

.tmd-cardname:hover,
body.skin-dark .tmd-cardname:hover {
    color: @tmd-blue-base;
}

body.skin-dark .btn {
    color: @tmd-gray-lightish;
}
