<label>Amount of Posts to display:</label>
<input type="text" class="form-control" name="numPosts" placeholder="4" />
<label>
	Custom Category:<br />
	<small>Leave blank to to dynamically pull from current category</small>
</label>
<input type="text" class="form-control" name="cid" placeholder="0" />
